.icon-png{
    height: 50px;
    width: 50px;
}

.background-white{
    text-align: center;
    padding: 80px 0;
    background: #c4e5e8!important;
}

.background-white h1{
    padding-bottom: 20px;
}

.icon-flex{
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
}


.text-center{
    text-align: center;
}

.text-center img{
    margin: auto;

}

.text-center p{
    width: 70%;
    margin: auto;
    margin-top: 10px;
}



@media (max-width: 550px) {
    .container{
        width: 100%;
    }

    .background-grey{
        padding: 20px;
    }

    .hero-section{
        height: 30vh;
    }

    .containers {
        display: grid;
        grid-template-columns: 1fr ;
        gap: 20px;
        justify-content: space-around;
        height: 300px;
        overflow: hidden;
        align-items: center;
    }

    .containers img{
        display: none;
    }

    .text {
        width: 100%;
        margin: auto;
        padding: 20px;
    }

    .icon-flex{
        display: flex;
        justify-content: center;
        gap: 10px;
        flex-wrap: wrap;
    }
}